# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.NewName.NewAbpZeroTemplate.Web.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\aspnet-zero-core-10.1.0\aspnet-core\.idea\.idea.NewName.NewAbpZeroTemplate.Web\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
