<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #task_TaskTopicForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="task_TaskTopic.id">{{ l('EditTask_TaskTopic') }}</span>
                        <span *ngIf="!task_TaskTopic.id">{{ l('CreateNewTask_TaskTopic') }}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="Task_TaskTopic_TaskId">{{ l('TaskId') }}</label>
                        <input
                            type="number"
                            #Task_TaskTopic_TaskId="ngModel"
                            id="Task_TaskTopic_TaskId"
                            class="form-control"
                            [(ngModel)]="task_TaskTopic.taskId"
                            name="TaskId"
                        />
                        <validation-messages [formCtrl]="Task_TaskTopic_TaskId"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Task_TaskTopic_TopikId">{{ l('TopikId') }}</label>
                        <input
                            type="text"
                            #Task_TaskTopic_TopikId="ngModel"
                            id="Task_TaskTopic_TopikId"
                            class="form-control"
                            [(ngModel)]="task_TaskTopic.topikId"
                            name="TopikId"
                        />
                        <validation-messages [formCtrl]="Task_TaskTopic_TopikId"></validation-messages>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!task_TaskTopicForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i> <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
