<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #ttTaskForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="ttTask.id">{{l("EditTTTask")}}</span>
                        <span *ngIf="!ttTask.id">{{l("CreateNewTTTask")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 

					<div class="form-group m-form__group">
                        <label for="TaskTypeName">{{l("TaskType")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="TaskTypeName" name="taskTypeName" [(ngModel)]="taskTypeName" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectTaskTypeModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setTaskTypeIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="ttTask.taskTypeId" [(ngModel)]="ttTask.taskTypeId" type="text"  hidden>
		 
					<div class="form-group m-form__group">
                        <label for="TaskPriorityName">{{l("TaskPriority")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="TaskPriorityName" name="taskPriorityName" [(ngModel)]="taskPriorityName" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectTaskPriorityModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setTaskPriorityIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="ttTask.taskPriorityId" [(ngModel)]="ttTask.taskPriorityId" type="text"  hidden>
		 
					<div class="form-group m-form__group">
                        <label for="SubtasksDescription">{{l("Subtasks")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="SubtasksDescription" name="subtasksDescription" [(ngModel)]="subtasksDescription" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectSubtasksModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setSubtasksIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="ttTask.subtasksId" [(ngModel)]="ttTask.subtasksId" type="text"  hidden>
		 
					<div class="form-group m-form__group">
                        <label for="TaskHistoryDescription">{{l("TaskHistory")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="TaskHistoryDescription" name="taskHistoryDescription" [(ngModel)]="taskHistoryDescription" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectTaskHistoryModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setTaskHistoryIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="ttTask.taskHistoryId" [(ngModel)]="ttTask.taskHistoryId" type="text"  hidden>
		 

								<div class="form-group">
									<label for="TTTask_Name">{{l("Name")}}</label>
									<input type="text" id="TTTask_Name" class="form-control" [(ngModel)]="ttTask.name" name="Name"    />
								</div>
					
								<div class="form-group">
									<label for="TTTask_Description">{{l("Description")}}</label>
									<input type="text" id="TTTask_Description" class="form-control" [(ngModel)]="ttTask.description" name="Description"    />
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!ttTaskForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<ttTaskTaskTypeLookupTableModal #ttTaskTaskTypeLookupTableModal (modalSave)="getNewTaskTypeId()"></ttTaskTaskTypeLookupTableModal>
		 <ttTaskTaskPriorityLookupTableModal #ttTaskTaskPriorityLookupTableModal (modalSave)="getNewTaskPriorityId()"></ttTaskTaskPriorityLookupTableModal>
		 <ttTaskSubtasksLookupTableModal #ttTaskSubtasksLookupTableModal (modalSave)="getNewSubtasksId()"></ttTaskSubtasksLookupTableModal>
		 <ttTaskTaskHistoryLookupTableModal #ttTaskTaskHistoryLookupTableModal (modalSave)="getNewTaskHistoryId()"></ttTaskTaskHistoryLookupTableModal>
		 
</div>