<div [@routerTransition] >
    <div class="content d-flex flex-column flex-column-fluid left">
        <sub-header [title]="'Tasks' | localize" [description]="'TasksHeadInfo' | localize"></sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <div class="container left">
                        <div class="row">
                            <div class="col-sm-5 col-md-5 col-lg-5 col-xs-5">
                                <button mat-raised-button color="primary" class="mr-3" (click)="addTask()">Add task</button>

                                <mat-selection-list #tasksList>
                                    <mat-list-item *ngFor="let task of tasks">
                                        <div (click)="tabsInit(task.id)">{{ task.name }}</div>
                                    </mat-list-item>
                                </mat-selection-list>

                            </div>
                            <div class="col-sm-5 col-md-5 col-lg-5 col-xs-5">
                                <mat-tab-group>
                                    <mat-tab label="Description">

                                    </mat-tab>

                                    <mat-tab label="Sabtasks"> Field vith subtasks </mat-tab>

                                    <mat-tab label="History">
                                        <dx-data-grid id="gridContainer">
                                            [dataSource]="dataSource"
                                            [remoteOerations]="false"
                                            [allowColumnReordering]="true"
                                            [rowAlternationEnabled]="true"
                                            [showBorders]="true"
                                            (onContentReady)="contentReady($event)">

                                            <dxo-paging [pageSize]="10"></dxo-paging>

                                            <dxo-pager>
                                                [showPageSizeSelector]="true"
                                                [allowedPageSize]="[10, 25, 50, 100]"
                                            </dxo-pager>


                                            <dxo-search-panel
                                                [visible]="true"
                                                [highlightCaseSensitive]="true"
                                            ></dxo-search-panel>

                                            <dxo-group-panel
                                                [visible]="true"
                                            ></dxo-group-panel>


                                            <dxo-grouping
                                                [autoExpandAll]="false"
                                            ></dxo-grouping>

                                            <dxi-column dataField="Product" [groupIndex]="0"></dxi-column>

                                        </dx-data-grid>
                                    </mat-tab>
                                </mat-tab-group>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


