<!--
<div [@routerTransition] >

    <ui class="nav nav-tabs">
        <li class="nax-item">
            <a class="nav-link active" data-toggle="tab" href="#Tab_1"> Tab 1 </a>
        </li>
        <li class="nax-item">
            <a class="nav-link" data-toggle="tab" href="#Tab_2"> Tab 2 </a>
        </li>
        <li class="nax-item">
            <a class="nav-link" data-toggle="tab" href="#Tab_3"> Tab 3 </a>
        </li>
    </ui>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="Tab_1">Content one</div>
        <div class="tab-pane fade" id="Tab_2">Content two</div>
        <div class="tab-pane fade" id="Tab_3">Content two</div>
    </div>


</div>
-->
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
    </li>
</ul>
