# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.NewName.NewAbpZeroTemplate.Mobile.iml
# Datasource local storage ignored files
/../../../../../../:\AspnetZeroCore\aspnet-core\.idea\.idea.NewName.NewAbpZeroTemplate.Mobile\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
